{% extends "base.html" %}

{% block title %}Password Change Successful{% endblock title %}

{% block content %}
<div class="container mt-5" style="max-width: 700px;">   
    <div class="card shadow p-4">
        <h2 class="mb-2">Hai modificato la tua password!</h2>
        <div class="alert alert-info text-center shadow-sm">
            Hai modificato la tua password correttamente!
        </div>
        <a href="{% url 'home' %}" class="btn btn-primary w-100 mt-2">
            Torna alla Home
        </a>
    </div>
</div>
{% endblock content %}