{% extends "base.html" %}

{% block title %}Password modificata correttamente{% endblock title %}

{% block content %}
<div class="container mt-5" style="max-width: 700px;">   
    <div class="card shadow p-4">
        <h2 class="mb-4 text-center">La password modificata correttamente!</h2>
        <div class="alert alert-info text-center shadow-sm">
            La tua nuova password è stata impostata. Clicca il pulsante sotto per tornaew alla pagina di Log In
        </div>
        <a class="btn btn-primary text-decoration-none" href="{% url 'login' %}">Accedi</a>.
    </div>
</div>
{% endblock content %}

