{% extends "base.html" %}
{% block title %}
    Elimina prodotto
{% endblock title %}

{% block content %}

<div class="container mt-5">
    <div class="alert alert-danger text-center shadow-sm">
        <h2 class="mb-0">Sei sicuro di voler eliminare "{{ object.name }}"?</h2>
    </div>   
    <form method="post" class="d-flex justify-content-center gap-2">
        {% csrf_token %}
        <button class="btn btn-danger">Elimina</button>
        <a href="{{ object.get_absolute_url }}" class="btn btn-secondary"> Annulla </a>
    </form>

</div>

{% endblock %}
