{% extends 'base.html' %}
{% block title %}Home{% endblock title %}


{% block content %}
<div class="album py-2">
    <div class="container">
        {% if request.user.is_authenticated %}
        <div class="row">
            <h2 class="mb-3">Bentornato, {{ request.user.username}}</h2>
            <hr>
        </div>
        {% endif %}
        <div class="row">
            <h4 class="mb-3">Categorie</h4>
            <div class="d-flex flex-nowrap overflow-auto pb-4 gap-2">
            {% for category in categories %}
                <a href="{% url "tag_detail" category.slug %}"
                class="badge rounded-pill text-bg-light border text-decoration-none px-4 py-2 fs-6 flex-shrink-0">
                {{ category.name }}
                </a>
            {% endfor %}
            </div>
            <hr>
        </div>
        <h2>Prodotti in offerta!</h2>
        <hr>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-3">
            {% for product in discount_products %}    
                <div class = "col">            
                {% include "includes/product_card.html"%}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}