{% extends 'base.html' %}

{% block title %}Categorie{% endblock %}

{% block content %}

<div class="container py-4">

    <h2 class="mb-4">Categorie</h2>

    {% for category in categories %}
        <div class="mb-5">
            <div class="d-flex flex-row gap-3 align-items-center">
                <h4 class="p-0 m-0">{{ category.name }}</h4>
                <div class="btn-group gap-2">
                    {% if perms.products.change_tag %}
                    <a href="{% url "tag_update" category.pk %}" class="btn btn-sm btn-warning">Modifica</a>
                    {% endif %}
                    {% if perms.products.delete_tag %}
                    <a href="{% url "tag_delete" category.pk %}" class="btn btn-sm btn-danger">Elimina</a>
                    {% endif %}
                </div>  
            </div>
            <hr>
            <div class="d-flex overflow-auto gap-3 pb-2">
                {% for product in category.product_set.all %}
                    <div style = "min-width: 300px">
                        {% include "includes/product_card.html" %}
                    </div>
                    {% empty %}
                    <p class="text-muted">Nessun prodotto</p>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}